@CHARSET "UTF-8";
.pubSearch{
	padding-left: 15px;
}
#pubSelect{
	width: 4em;
}

.pubInput{
	padding-left: 15px;
}
.pubDiv{
	padding-left: 30px;
	padding-top: 15px;
}
textarea {
	width: 420px;
	height: 110px;
	resize : none;
}